.toast-container {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.toast-container .toast {
    position: relative;
    padding: 8px;
    background-color: palevioletred;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    font-size: 14px;
    word-wrap: break-word;
}