.detail-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition-property: opacity;
    transition-duration: 0.5s;
    pointer-events: none;
}

.detail-container.visible {
    opacity: 1;
    pointer-events: all;
}

.detail-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    flex: 1;
    margin: 8px;
}