.toolbox {
    position: fixed;
    height: 100%;
    top: 0px;
    left: -300px;
    transition: left 0.5s ease-in-out;
}

.toolbox .toolbox-panel {
    width: 300px;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}

.toolbox .toolbox-toggle-button {
    border-radius: 80px;
    background-color: white;
    border: 3px #9f00ff solid;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    left: 316px;
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: space-evenly;
}

.toolbox .toolbox-toggle-button .hamburger-part {
    height: 4px;
    background-color: #9f00ff;
    margin: 0px 4px;
}