.thumb-container {
    display: flex;
    flex-wrap: wrap;
    transition-property: none;
    transition-duration: 5s;
    background-color: white;
}

.thumb-container.blurred {
    filter: blur(10px);
}

.thumb {
    margin: 4px;
    position: relative;
}

.thumb .thumb-img {
    background-size: contain;
    background-repeat: no-repeat;
    overflow-y: visible;
}

.thumb .thumb-frame {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    box-sizing: border-box;
}

.thumb .thumb-frame.pending {
    background-color: rgba(0, 0, 0, 0.2);
}